.account-btn, .search-content {
    display: flex;
}

.content-favoritos {
    height: 100vh;
    background-color: aliceblue;
    padding: 5rem;
}

table {
    width: 600px;
}

table th {
    font-size: 2rem;
    padding-left: 16px;
}

table td {
    font-size: 1.8rem;
    padding: 16px;
}

.favoritos tr:hover {
    box-shadow: 0 6px 15px -7px #00000059;
    background-color: #fff;
    border-radius: 10px;
}

.stepper {
    width: 85%;
    margin: 40px auto 60px;
    display: flex;
    align-items: center;
}

.stepper span:not(.line) {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #9c9c9c;
    display: flex;
    align-items: center;
    border-radius: 100px;
    justify-content: center;
    color: #fff;
    border: 6px solid #fff;
}

.stepper span:not(.line).selected {
    background-color: #3f51b5;
}

.stepper span:nth-child(1):not(.line) {
    left: 8%;
}
.stepper span:nth-child(1):not(.line):after {
    content: 'Seleccionar cuenta';
    position: absolute;
    font-size: 1.3rem;
    left: 35px;
    color: #0000008f;
    padding: 0 10px 0 2px;
    background-color: #fff;
}

.stepper span:nth-child(2):not(.line) {
    left: 46%;
}
.stepper span:nth-child(2):not(.line):after {
    content: 'Confirmar';
    position: absolute;
    font-size: 1.3rem;
    left: 35px;
    color: #0000008f;
    padding: 0 10px 0 2px;
    background-color: #fff;
}

.stepper span:nth-child(3):not(.line) {
    left: 91%;
}

.stepper span:nth-child(3):not(.line):after {
    content: 'Finalizar';
    position: absolute;
    font-size: 1.3rem;
    left: 35px;
    color: #0000008f;
    padding: 0 10px 0 2px;
    background-color: #fff;
}

.stepper .line {
    width: 100%;
    border-bottom: 1px solid #00000029;
}
