.login {
    background-image: linear-gradient(#718d9f, #bed0dd);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-content {
    width: 400px;
    background-color: #fff;
    height: 310px;
    border-radius: 16px;
}

.login-content .inner-content {
    padding: 30px;
}

.login-content .login-text {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #464646;
    font-size: 2rem;
    font-weight: bold;
}

.login-content .btn:not(disabled) {
    background-color: #3f51b5;
    color: #fff;
    font-weight: bold;
    border-radius: 100px;
}

.login-content .logo {
    background: url(/arquitectura_monolitica_war/resources/img/logoicc.png) center no-repeat;
}
