<div>
  <form class="form-signin"
        (ngSubmit)="onSubmitSearch()"
        [formGroup]="form">

    <mat-toolbar>
      <mat-toolbar-row color="primary"><span class="title">{{title}}</span></mat-toolbar-row>
    </mat-toolbar>


    <div class="col-md-6">
      <ul id="params" formArrayName="identificadores">
        <div class="row" *ngFor="let e of form.get('identificadores')['controls']; let i = index">
          <div formGroupName="{{i}}" class="form-group">
            <!-- INPUT -->
            <mat-form-field>
              <input matInput
                     placeholder="{{e.value.nombre}}"
                     required
                     type="text"
                     maxlength="80"
                     formControlName="valor">
            </mat-form-field>
          </div>
        </div>
      </ul>
    </div>

    <div>
      <button
        [disabled]="!form.valid"
        type="submit"
        mat-raised-button>Buscar
      </button>
    </div>

  </form>

  <form  class="form-pay"
         *ngIf="saldo != null"
         [formGroup]="formPay">

    <div class="col-md-6">
      <h2>Total a Pagar: Q. {{saldo}}</h2>

      <h3>Seleccionar cuenta para realizar pago</h3>

      <mat-form-field>
        <mat-select placeholder="Cuenta" formControlName="cuenta">
          <mat-option *ngFor="let cuenta of cuentas" [value]="cuenta.numero">
            {{cuenta.numero + " - " + cuenta.alias}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button
          [disabled]="!formPay.valid"
          (click)="openConfirmationDialog()"
          mat-raised-button>Pagar
        </button>
      </div>

    </div>

  </form>
</div>
