<div>
  <form class="form-signin"
        (ngSubmit)="buscar(1)"
        [formGroup]="form">

    <mat-toolbar>
      <mat-toolbar-row color="primary"><span class="title">Histórico de Servicios</span></mat-toolbar-row>
    </mat-toolbar>


    <mat-form-field>
      <input matInput
             placeholder="Fecha Inicio"
             required
             type="date"
             formControlName="inicio">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Fecha Fin"
             required
             type="date"
             formControlName="fin">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Búsqueda"
             type="text"
             maxlength="80"
             formControlName="filtro">
    </mat-form-field>

    <div>
      <button
        [disabled]="!form.valid"
        type="submit"
        mat-raised-button>Buscar
      </button>
    </div>

    <table *ngIf="list.length > 0">
      <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Tercero</th>
        <th>Servicio</th>
        <th>Cuenta</th>
        <th>Monto</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let e of list">
        <td>{{e.id.substring(e.id.lastIndexOf('-') + 1)}}</td>
        <td>{{e.fecha}}</td>
        <td>{{e.tercero}}</td>
        <td>{{e.servicio}}</td>
        <td>{{e.cuenta}}</td>
        <td>{{e.monto}}</td>
      </tr>
      </tbody>
    </table>

    <div *ngIf="list.length > 0">
      Total Registros: {{totalRegistros}}  Página {{pagina}} / {{totalPaginas}}
      <button
        *ngIf="mostrarAnterior"
        [disabled]="!form.valid"
        type="button"
        (click)="anterior()"
        mat-raised-button>Anterior
      </button>
      <button
        *ngIf="mostrarSiguiente"
        [disabled]="!form.valid"
        type="submit"
        (click)="siguiente()"
        mat-raised-button>Siguiente
      </button>
    </div>


  </form>
</div>
