<div class="intro-header background-image">
  <form class="form-signin"
        (ngSubmit)="onNext()"
        [formGroup]="form">


    <mat-toolbar>
      <mat-toolbar-row color="primary"><span class="title">Recuperar Contraseña</span></mat-toolbar-row>
    </mat-toolbar>

    <mat-card>

      <div class="img-logo-header"></div>

      <mat-form-field>
        <input matInput
               placeholder="Usuario"
               required
               type="email"
               maxlength="60"
               formControlName="email">
      </mat-form-field>


      <div class="alert-danger" *ngIf="errorMessage != null">
        <span class="alert-danger">{{ errorMessage }}</span>
      </div>

      <div>
        <button
          [disabled]="!form.valid"
          type="submit"
          class="btn-first"
          mat-raised-button
          color="primary">Continuar
        </button>
      </div>

      <p>
        <a mat-raised-button [routerLink]="['/home/']">
          <i class="fa fa-fw fa-user"></i> Regresar</a>
      </p>

    </mat-card>

  </form>
</div>
