<div class="intro-header background-image">
  <form class="form-signin"
        (submit)="onNext()"
        [formGroup]="form">

    <mat-toolbar>
      <mat-toolbar-row color="primary"><span class="title">Recuperar Contraseña</span></mat-toolbar-row>
    </mat-toolbar>

    <mat-card>

      <div class="img-logo-header"></div>

      <mat-form-field>
        <input matInput
               placeholder="Código de Verificación"
               required
               type="text"
               maxlength="40"
               formControlName="verificationCode">
      </mat-form-field>

      <mat-form-field matTooltip="Nueva Contraseña">
        <input matInput
               placeholder="Nueva Contraseña"
               required
               type="password"
               maxlength="25"
               formControlName="password">
      </mat-form-field>

      <mat-form-field matTooltip="Confirmar nueva contraseña">
        <input matInput
               placeholder="Confirmar nueva contraseña"
               required
               type="password"
               maxlength="25"
               formControlName="confirmNewPassword">
      </mat-form-field>

      <div class="alert-danger" *ngIf="errorMessage != null">
        <span class="alert-danger">{{ errorMessage }}</span>
      </div>

      <div>
        <button
          [disabled]="!form.valid"
          type="submit"
          class="btn-first"
          mat-raised-button
          color="primary">Continuar
        </button>
      </div>

      <p>
        <a mat-raised-button [routerLink]="['/security/forgotPassword']">
          <i class="fa fa-fw fa-group"></i>Regresar</a>
      </p>

    </mat-card>

  </form>
</div>
