<div class="intro-header background-image">
  <form class="form-signin"
        [formGroup]="form"
        (ngSubmit)="onSubmit()">

    <mat-toolbar>
      <mat-toolbar-row color="primary"><span class="title">Cambiar Contraseña</span></mat-toolbar-row>
    </mat-toolbar>

    <mat-card>

      <div class="img-logo-header"></div>

      <mat-form-field>
        <input matInput
               placeholder="Email"
               required
               type="email"
               maxlength="60"
               formControlName="username">
      </mat-form-field>

      <mat-form-field>
        <input matInput
               placeholder="Contraseña Temporal"
               required
               type="password"
               maxlength="25"
               formControlName="existingPassword">
      </mat-form-field>


      <mat-form-field matTooltip="Nueva Contraseña">
        <input matInput
               placeholder="Nueva Contraseña"
               required
               type="password"
               maxlength="25"
               formControlName="password">
      </mat-form-field>

      <mat-form-field matTooltip="Confirmación Contraseña">
        <input matInput
               placeholder="Confirmación Contraseña"
               required
               type="password"
               maxlength="25"
               formControlName="confirmNewPassword">
      </mat-form-field>

      <div class="alert-danger" *ngIf="errorMessage != null">
        <span class="alert-danger">{{ errorMessage }}</span>
      </div>

      <div>
        <button
          [disabled]="!form.valid"
          type="submit"
          class="login-submit"
          mat-raised-button
          color="primary">Confirmar
        </button>
      </div>

    </mat-card>

  </form>
</div>
