
.div-card-servicios {
  width: 80%;
}

.servicios-card {
  margin: 3px;
}

.div-card-favoritos {
  width: 30%;
}

.favoritos-card {
  margin: 3px;
}

.main-content {
  display: flex;
  align-items: baseline;
  padding: 16px 30px;
}

.main-content .card-left,
.main-content .card-right {
  width: 50%;
}

.main-content .card-right .div-card-favoritos {
  overflow: auto;
  height: 78vh;
  width: 90%;
}
