<div>
  <form class="form-signin"
        (ngSubmit)="onSubmit()"
        [formGroup]="form">

    <mat-toolbar>
      <mat-toolbar-row color="primary"><span class="title">Búsqueda de Servicios</span></mat-toolbar-row>
    </mat-toolbar>

    <mat-form-field>
      <input matInput
             placeholder="Servicio ó palabra clave"
             required
             type="text"
             maxlength="80"
             formControlName="search">
    </mat-form-field>

    <div>
      <button
        [disabled]="!form.valid"
        type="submit"
        mat-raised-button>Buscar
      </button>
    </div>

    <div class="div-card-servicios">
      <mat-card class="servicios-card" *ngFor="let entity of servicios">
        <mat-card-header [routerLink]="['/consulta-pago/' + entity.idServicio]" [queryParams]="{desc: entity.nombreServicio + ' - ' + entity.nombreTercero}">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{entity.nombreServicio}}</mat-card-title>
          <mat-card-subtitle>{{entity.nombreTercero}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>

  </form>
</div>
